Source: program-jtag
Section: misc
Priority: optional
Maintainer: Ilia Platone <info@iliaplatone.com>
Build-Depends: debhelper (>= 8.1.3~),
 cdbs,
 cmake (>= 2.4.7),
 liburjtag,
Standards-Version: 3.9.5
Homepage: http://github.com/ahp-electronics/program-jtag/
Vcs-Git: git://github.com/ahp-electronics/program-jtag.git

Package: program-jtag
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Description: FPGA programming utility
    This utility programs FPGAs, by
    setting their BSDL file or taking it from liburjtag database. 

